*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // font-size is an overall setting for the page its not typography [defining what 1rem is ]
    font-size: 62.5%;
    box-sizing: border-box;
}